.information {
    width: 1600px;
    height: 341px;
    color: $blacked;
    background-color: $blacked;

    .information__blockquote {
        display: flex;
        margin-top: 95px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
    }
    
    .information__item-free {
        width: 360px;
        height: 134px;
        text-align: center;
        margin-top: 103px;
        margin-left: 230px;
    }
    
    .information__item-sales {
        width: 360px;
        height: 134px;
        margin-top: 103px;
        text-align: center;
    }
    
    .information__item-quality {
        width: 360px;
        height: 134px;
        margin-top: 103px;
        text-align: center;
    }
    
    .information__pic {
        padding-bottom: 28px;
        justify-content: center;
    }
    
    .pic--center {
        padding-bottom: 19px;
    }
    
    .information__item-title {
        font-size: 19.96px;
        line-height: 24px;
        color: $milk;
        padding-bottom: 16px;
        font-weight: 300;
    }
    
    .information__text {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        color: $milk;
        font-weight: 300;
    }
}
