.sales { 

    
    .header__sales-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 65px;


    }
    
    .sales__item {
        position: relative;
        
    }
    
    .sales__text {
        display: flex;
        position: absolute;
        font-family: $font-lato;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $white;
        
    }
    
    .sales__item-title {
        display: flex;
        position: absolute;
        font-family: $font-lato;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $pink;    
    }
    .text-pic {
        display: flex;
        position: absolute;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $white;
        
        
    }  
    .title-pic {
        display: flex;
        position: absolute;
        bottom: 65px;
        left: 490px;
        font-family: Lato;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $pink;
    }
    .sales__item-pic {
        position: relative;
    }
    .pic-pic {
        position: relative;
        width: 1140px;
        height: 180px;
    }
    .sales__text-block {
        position: absolute;
        top: 115px;
        left: 103px;
        width: 154px;
        height: 50px; 
    }
}

@media (max-width:1599px) {
    .sales__item-pic {
        width: 232px;
        height: 167px;
    }
    .sales__item {
        width: 232px;
        height: 167px;  
    }
    .pic-pic {
        width: 768px;
        height: 116px;
    }
    .header__sales-item {
        max-width: 768px;
        left: 0; 
    }
    .sales__text-block {
        width: 154px;
        left: 39px;
        top: 59px;
    }
}

@media (max-width: 767px) {
    .header__sales-item {
        padding-bottom: 32px;    
    }

    .pic-pic {
        max-width: 343px;
        max-height: 111px;
    }
    
}